---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us - Project Prosthetic">
	<h1>About Us</h1>
	<img src="/images/teampic.png" alt="Our team" />
	<p>We are passionate and dedicated to bring easy learning and equality to everyone.</p>
	<h2>Our Team</h2>
	<div class="team-grid">
		<div class="team-member">
			<img src="/images/SrimanHeadshot.png" alt="Team Member 1" />
			<h2>Sriman Arya</h2>
			<p>
			Hi, I’m Sriman Aryasomayajula. I am a passionate developer and engineer, and I helped create the website. I picked this topic of distribution of prosthetics/aid devices in war torn nations, as I, as a kid visited multiple blind shelters in India, and I witnessed those kids being limited by their disability. This along with my dream to build a full on robot (I was a big Sci-Fi watcher), allowed me to channel my passion, and create my first prosthetic earlier this year. Using this knowledge, and my past experiences, I was able to pitch this idea, and then assemble a team. I am really thankful for my teammates being able to contribute, and also being passionate about the same issue.
			</p>
		</div>
		<div class="team-member">
			<img src="/images/AngelHeadshot.jpg" alt="Team Member 2" />
			<h2>Angel Gabriel Lobo Barrios</h2>
			<p>
			Hi, my name is Angel Gabriel Lobo Barrios. I am a regular student who still hasn’t decided what to do in college or what to do for a living. But hey! I'm a drummer at YYO (Ypsilanti Youth Orchestra). I enjoy music and I think that it is a great way for an artist to express many emotions, situations, and themselves. I chose this topic, Distribution of prosthetics/aid devices in war torn nations, because I wanted to learn about amputees who are affected by the poor availability of prosthetics. The reason for this is because I’m interested in psychology. I wanted to learn more about them, how they are affected, and how we can help. Many of them get their future ripped apart because of their amputation. A lot of them lose their jobs and aren’t able to return to their regular lives because they don’t have access to prosthetics. I think they deserve the opportunity at piercing their lives back together. Do keep in mind that not every amputee has this problem and it often differs depending on what limb they lost. Anyways I enjoy playing games and listening to music. That’s all!
			</p>
		</div>
		<div class="team-member">
			<img src="/images/JohnHeadshot.jpg" alt="Team Member 3" />
			<h2>John Spencer</h2>
			<p>
			Hi, I'm John Spencer.
			I didn't really know much about prosthetics but I really was interested in building stuff. When the topic of Prosthetics in war torn nations was brought up, I knew that's what I wanted to work on. I'm really glad I picked it because I have always wanted to become an engineer and I feel like picking this topic didn't just help my dream even more but it made me think of how inventors help people and how as me a seeking inventor can also help others. I personally just want to help people.
			</p>
		</div>
		<div class="team-member">
			<img src="/images/KennedyHeadshot.png" alt="Team Member 4" />
			<h2>Kennedy Holmes</h2>
			<p>
			My name is Kennedy Antoinette Holmes. I am a (about to be) freshman hoping to become a biomedical engineer in the future and study at the University of Michigan. I enjoy acting in theater/ drama club, along with drawing. Before this I had not known how to research properly, nor did I know anything about problems getting prosthetics in war torn nations. I am very grateful for my teammates, team leads, and Dr.Randal. They have helped me learn and understand everything we have done in the institute with patience. I hope whomever reads this enjoys the work our team has done to make this website happen. 
			</p>
			<p>
			P.S, I drew the artwork [minus the logo]
			</p>
		</div>
		<div class="team-member">
			<img src="/images/FatemaHeadshot.png" alt="Team Member 5" />
			<h2>Fatema Zahra Refiei</h2>
			<p>
			Hi, I’m Fatema Zahra Refiei, a Skyline High School (‘26) student passionate about science, creacity, and making a difference. This topic is very personal to me because my uncle is an amputee, and watching him face daily challenges without access to proper prosthetics has deeply moved me. His struggles motivate me to understand how technology and care can improve lives. I’m proud of the work our team accomplished. I came up with the story idea, helped write it, contributed to research, and helped with the artwork. Collaborating with others showed me how combining teamwork, creativity, and science can bring attention to important issues and inspire real change.
			</p>
		</div>
	</div>
</Layout>

<style>
	h1{
		color: rgb(var(--red));
	}
	h2{
		color: rgb(var(--brun));
	}
	h3{
		color: rgb(var(--accent));
	}
	.team-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1rem;
		margin-top: 2rem;
	}
	.team-member {
		text-align: center;
	}
	.team-member img {
		border-radius: 50%;
		margin-bottom: 1rem;
	}
	.team-member h3 {
		margin: 0;
		color: rgb(var(--accent));
	}
	.team-member p {
		margin: 0.5rem 0 0;
		font-style: italic;
	}
</style>
