---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Meet our characters!!">
    <h1>Meet our characters!</h1>
        <h2> Fahad Haddad </h2>
        <img src="/images/Fahad.png" class="float-img">
        <p>
        Born on October 12, 1981, in Kuwait City, Kuwait, Fahad is a Middle Eastern male with a passion for science and culture. He holds a Bachelor's degree in Biochemistry from Kuwait University. In his free time, he enjoys reading historical novels, scuba diving, and cooking traditional Kuwaiti dishes. A fun fact about Fahad: he once contributed to a regional environmental initiative by analyzing water samples from the Arabian Gulf.
        </p>
        <h2> Ayla Nadeem </h2>
        <img src="/images/Ayla.png" class="float-img">
        <p>Ayla was born on April 5, 1981, in Kuwait City, Kuwait. She is of Middle Eastern and Caucasian descent and earned her Bachelor’s degree in Engineering from Kuwait University. Her hobbies include inventing gadgets from recycled materials, playing volleyball, and exploring astronomy. A fun fact about Ayla: she won a national student award in college for designing innovative solar-powered water purifiers.
        </p>
    </Layout>

<style>
    h1{
        color: rgb(var(--red));
    }
    h2{
        color: rgb(var(--brun));
    }
    h3{
        color: rgb(var(--accent-dark));
    }
    ul, ol {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 0.5rem;
    }
    a:hover {
        text-decoration: underline;
    }
</style>
