---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Meet our characters!!">
    <h1>Meet our characters!</h1>
    
    </Layout>

<style>
    h1{
        color: rgb(var(--red));
    }
    h2{
        color: rgb(var(--brun));
    }
    h3{
        color: rgb(var(--accent-dark));
    }
    ul, ol {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 0.5rem;
    }
    a:hover {
        text-decoration: underline;
    }
</style>
