---
---
<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/resources">Meet our characters!</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/standards">Standards</a></li>
			<li><a href="/references">References</a></li>
			<li><a href="/outreach">Outreach</a></li>
		</ul>
	</nav>
</header>

<style>
	header {
		background-color:rgb(25, 51, 82);
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		padding: 1rem;
	}
	nav ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav li {
		margin: 0 1rem;
		position: relative;
	}
	nav a {
		text-decoration: none;
		color: rgb(var(--red));
		font-weight: bold;
	}
	nav a:hover {
		color: rgb(var(--brun));
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.dropdown-content a {
		color: rgb(var(--red));
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-content a:hover {
		background-color: #f1f1f1;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	@media (max-width: 768px) {
		nav ul {
			flex-direction: column;
			align-items: flex-start;
		}
		nav li {
			margin: 0.5rem 0;
		}
		.dropdown-content {
			position: static;
			display: none;
			padding-left: 1rem;
		}
		.dropdown:hover .dropdown-content {
			display: block;
		}
	}
</style>